* {
  font-family: Arial;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

h1 {
  font-size: 2em;
}

p {
  margin: 0 auto;
  font-size: 1.2em;
}

.input {
  width: 720px;
  height: 200px;
  margin: 20px auto;
  font-size: 1.2em;
}

.keyboard {
  width: 720px;
  padding: 20px;
  background: #391767;
  user-select: none;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 40px;
  margin: 3px;
  border-radius: 3px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.keyboard__key:hover {
  background: rgba(5, 239, 56, 0.5);
}

.keyboard__key--active {
  background: rgba(5, 239, 56, 0.7);
}

.keyboard__key--animated {
  animation-name: keyPress;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes keyPress {
  from {
    box-shadow: 0 -250px 70px -120px rgba(5, 239, 56, 0.5) inset;
  }
  to {
    box-shadow: 0 0px 70px -120px rgba(5, 239, 56, 0.5) inset;

  }
}